@font-face {
  font-family: 'Martian Grotesk';
  src: url('fonts/MartianGrotesk-VFVF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Martian Grotesk', sans-serif;
}

a {
  color: white;
  text-decoration: underline;  
}

a:hover {
  color: #1b98ff;
  text-decoration-style: wavy;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
}

* {
font-family: Martian Grotesk, sans-serif;
font-weight: 300;
font-style: normal;
}

main {
color: white;
position: absolute;
width: 100%;
margin: 0px auto;
padding: 120px 0px;
display: grid;
grid-template-columns: repeat(12, 1fr);
}

header {
background: rgba(15, 15, 15, 0.95);
grid-column: 2 / span 5;
font-size: 40px;
padding: 32px;
margin-bottom: 250px;
border-radius: 16px;
border: 1px solid gray;
}

section {
grid-column: 2 / 8;
padding: 16px;
background: rgba(15, 15, 15, 0.95);
font-size: 20px;
line-height: 1.5;
margin-bottom: 250px;
border-radius: 16px;
border: 1px solid gray;
}


.right {
grid-column: 6 / 12;
}

section.bottom {
grid-column: 6 / 12;
margin-bottom: 100px;
}

.middle {
grid-column: 5/9;
align-items: center;
text-align: center;
}

img {
max-width: 100%;
border-radius: 16px;
margin-top: 8px;
margin-bottom: 8px;
}